/* No changes needed for .company.Neutral */

.company.Zusage {
    background-color: #ccffcc; /* Light green for Zusage */
}

.company.Offen {
    background-color: green;
}

.company.Bewerbungsgespräch {
    background-color: #ccccff; /* Light blue for Bewerbungsgespräch */
}

.company.Absage {
    background-color: #ffcccc; /* Light red for Absage */
}

/* Adjustments for responsiveness */
#companiesContainer {
    display: flex;
    flex-direction: column;
}

.companyHeader, .company {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.companyHeader {
    background-color: #f0f0f0;
    font-weight: bold;
}

.company {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.company:nth-child(even) {
    background-color: #f0f0f0; /* Light gray for even rows */
}
.company-content {
    display: flex;
    align-items: center;
}
#companiesContainer {
    display: flex;
    flex-direction: column;
}

.status-counts {
    top: 1px;
    position: fixed; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    background-color: white; /* Add background color if needed */
    padding: 5px;
    border: 1px solid black; /* Add border for visibility */
    z-index: 1000; /* Ensure it's above other content */
}

.top-section {
    position: sticky;
    top: 0;
    background-color: white; /* Add background color if needed */
    z-index: 1000; /* Ensure it's above other content */
}

.container {
    /* Add margin-top to create space for the sticky top section */
    margin-top: 100px; /* Adjust as needed */
}





.status-select {
    margin-right: 10px; /* Add margin to separate status dropdown and delete button */
}

.delete-button {
    margin-left: 10px;
}

